{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
                <tr>
                    <td>{{ history.symbol }}</td>
                    <td>{{ history.shares }}</td>
                    <td>{{ history.price | usd }}</td>
                    <td>{{ history.date }}</td>
                    <td>{{ history.type.upper() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
